@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .gambar,
footer .gambar{
    display: flex;
    align-items: center;
}

nav .gambar a,
footer .gambar a{
    margin-left: 8px;
    color:black;
    font-weight: bold;
    font-size: 20px;
}

nav .gambar img,
footer .gambar img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}